; License: see LICENSE (earlier Apache-2.0 grants remain in force)
; GR IIIx HDF, firmware 1.60. This guarded wrapper was not camera-run.
; First verify HD41OL.JPG byte-for-byte against the computer backup.
; Never restore an unverified or SD-sourced backup.
getfileattr 'C:\HDFREST.JPG'
if result <> -1 then
exit
endif
filestat 'B:\Resource\Jpeg\HD41OL.JPG' size
if result <> 0 then
exit
endif
if size <> 7264 then
exit
endif
filestat 'B:\Resource\Jpeg\GoodBye.jpg' size
if result <> 0 then
exit
endif
if size <> 7264 then
exit
endif
filecopy 'B:\Resource\Jpeg\HD41OL.JPG' 'B:\Resource\Jpeg\GoodBye.jpg'
filestat 'B:\Resource\Jpeg\GoodBye.jpg' size
if result <> 0 then
exit
endif
if size <> 7264 then
exit
endif
filecopy 'B:\Resource\Jpeg\GoodBye.jpg' 'C:\HDFREST.JPG'
filestat 'C:\HDFREST.JPG' size
if result <> 0 then
exit
endif
if size <> 7264 then
exit
endif
exit
